<%= form_with(model: @reference_book) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <%= f.label :title, "書籍名" %>
  <%= f.text_field :title %>

  <%= f.label :content, "参考書の内容(任意)" %>
  <%= f.text_area :content %>

  <%= f.label :publisher_id, "出版社" %>
  <%= f.select :publisher_id, make_select_form(Publisher.all),  { include_blank: "未選択" } %>

  <%= label_tag 'name', "出版社の追加 (出版社が存在しない場合のみ入力してください)" %>
  <%= text_field_tag 'name', nil %>

  <%= f.label :image, "書籍の画像(任意)" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
 

  <%= f.submit yield(:button_text), class: "button" %>
<% end %>