<% provide(:title, @group.name) %>
<% provide(:params_id, "private_group_id") %>

<div style="border: solid; padding: 10px;">
  <h1><%= yield(:title) %></h1>
  <h3>
    <%= "グループ詳細:#{@group.detail}" if @group.detail.present? %>
  </h3>
  <%= render 'users/join_form' %>
</div>

<%= render 'show_link' %>

<%= render 'shared/post' %>