<%= form_with(model: @worksheet) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <%= f.label :name, "タイトル" %>
  <%= f.text_field :name %>

  <%= f.label :detail, "ワークシートの説明(任意)" %>
  <%= f.text_area :detail %>

  <%= f.label :file, "ワークシートをアップロード(PDFのみ)" %>
  <span class="file">
    <%= f.file_field :file, accept: "application/pdf" %>
  </span>
 

  <%= f.submit yield(:button_text), class: "button" %>
<% end %>