<%= paginate @worksheets %>

<ul class="worksheets">
  <% @worksheets.each do |worksheet| %>
    <li>
      <p class="worksheet-title"><%= "ワークシート名:【#{worksheet.name}】" %></p>
      <p class="worksheet-user"><%= "作成者:【#{worksheet.user.name}】" %></p>
      <p class="worksheet-detail"><%= "ワークシートの説明 : #{worksheet.detail}" if worksheet.detail.present? %></p>
      <%= link_to "【#{worksheet.name}】のダウンロード", rails_blob_path(worksheet.file, disposition: "attachment"), method: :download %>
      

      <div class="buttons">
        <% if current_user?(worksheet.user) %>
          <%= link_to "編集", edit_worksheet_path(worksheet), class: "button edit_button" %>
          <%= link_to "削除", worksheet, data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" }, class: "button delete_button" %>
        <% end %>
        <%= render 'users/favorite_worksheet/favorite_form', worksheet: worksheet if logged_in? %>
      </div>
    </li>
  <% end %>
</ul>


<%= paginate @worksheets %>