<div class="row add_carriculums">
  <div class="col-md-6">
    <%= form_with(url: calc_absent_carriculum_path) do |f| %>

      <% @carriculum_size.times do |n| %>

        <%= f.label "carriculums#{n+1}", "教科の追加(#{n+1})" %> <br>
        <%= f.text_field "carriculums#{n+1}", value: @carriculums[n], class: 'form-control' %> <br>

      <% end %>

        <%= f.submit "教科を追加する", class: "btn btn-primary" %>

    <% end %>
  </div>
  <div class="col-md-6">
    <h3>教科リスト</h3>
    <ul>
      <% @carriculums.size.times do |n| %>
        <li><%= @carriculums[n] %></li>
      <% end %>
    </ul>
  </div>
</div>