<div class="schedule">

  <%= form_with(url: calc_absent_schedule_path) do |f| %>

    <div><%= hidden_field_tag :carriculums, @carriculums %></div>

    <table>
      <thead>
        <tr>
          <th colspan="5">日課表</th>
        </tr>
        <tr>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
        </tr>
      </thead>
      <tbody>
        <% 6.times do |r| %>
          <tr>
            <% 5.times do |c| %>
              <% @index = (r+1)+(c*6) %>
              <td>
                <%= f.select "suchedule#{@index}", @carriculums, { include_blank: "科目を設定", selected: @schedules[@index-1] }, class: 'form-control' %> <br>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= f.submit "日課表に科目を設定", class: "btn btn-primary" %>

  <% end %>

  <%= form_with(url: calc_absent_add_schedule_path) do |f| %>

    <div><%= hidden_field_tag :carriculums, @carriculums %></div>

    <%= f.submit "テストデータ(日課表)をセット", class: "btn btn-primary" %>

  <% end %>

</div>