<% provide(:title, "欠時の自動計算") %>
<h1 class="text-center"><%= yield(:title) %></h1>

<div class="calc_absent">

  <div class="debug">
    <%= "科目リスト = #{@carriculums}" %> <br>
    <%= "日課表 = #{@schedules}" %> <br>
    <%= "日課表(サイズ) = #{@schedules.size}" %> <br>
  </div>

  <%= render 'manual' %>

  <%= render 'add_carriculums' %>

  <%= render 'schedule' %>

  <%= render 'calc_absent' %>

</div>
