<% if current_user?(@user) %>
  <%= form_with(model: @user) do |f| %>

    <div><%= f.hidden_field :name %></div>
    <div><%= f.hidden_field :email %></div>
    <div><%= f.hidden_field :subject_id %></div>
    <div><%= f.hidden_field :emclub_idail %></div>
    <div><%= f.hidden_field :kinds_of_school_id %></div>
    <div><%= f.hidden_field :profile %></div>
    <div><%= hidden_field_tag :delete_image, value: true %></div>

    <%= f.submit "プロフィール画像の削除", class: "btn btn-danger" %>
  <% end %>
<% end %>
