<% provide(:title, @user.name) %>
<h1><%= @user.name %><%= render "follow_form" if logged_in? %></h1>

<pre>
  <strong>プロフィール</strong><br>
  <%= @user.profile %>
  <strong>校種</strong><br>
  <strong>担当教科</strong><br>
  <strong>部活動</strong><br>
  <strong><a href="#">フォロー(<%= @user.following.count %>)</a></strong><br>
  <strong><a href="#">フォワー(<%= @user.followers.count %>)</a></strong><br>
</pre>