<% provide(:title, @user.name) %>

<h1><%= @user.name %></h1>
<% if @user.image.attached? %>
  <%= image_tag @user.image.variant(:display) %>
  <%= render 'delete_image' %>
<% end %>

<% if logged_in? %>
  <p>
    <%= render 'shared/admin_btn' %>
    <%= render 'follow_form' %>
  </p>
<% end %>

<pre>
  <strong>プロフィール</strong><br>
  <%= @user.profile %>
  校種<br>
  【<%= link_to @user.kinds_of_school.name, @user.kinds_of_school, style: "color: black;" %>】<br>
  担当教科<br>
  【<%= link_to @user.subject.name, @user.subject, style: "color: black;" %>】<br>
  部活動<br>
  【<%= link_to "#{@user.club.name}部", @user.club, style: "color: black;" %>】<br>
  <%= link_to "フォロー(#{@user.following.count})",             following_user_path(@user) %><br>
  <%= link_to "フォロワー(#{@user.followers.count})",           followers_user_path(@user) %><br>
  <%= link_to "お気に入り書籍(#{@user.favorite_books.count})",  favorite_books_user_path(@user) %><br>
  <%= link_to "所属グループ(#{@user.joining.count})",           joinings_user_path(@user) %><br>
  <%= link_to "ワークシート(#{@user.worksheets.count})",        worksheets_user_path(@user) %><br>
</pre>