<% provide(:title, @user.name) %>
<h1><%= @user.name %><%= render "follow_form" if logged_in? %></h1>

<pre>
  <strong>プロフィール</strong><br>
  <%= @user.profile %>
  <strong>校種</strong><br>
  <strong>担当教科</strong><br>
  <strong>部活動</strong><br>
  <%= link_to "フォロー(#{@user.following.count})",   following_user_path(@user) %><br>
  <%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user) %><br>
</pre>