<% provide(:title, @user.name) %>
<h1><%= @user.name %><%= render "follow_form" if logged_in? %></h1>

<pre>
  <strong>プロフィール</strong><br>
  <%= @user.profile %>
  校種<br>
  【<%= @user.kinds_of_school.name %>】<br>
  担当教科<br>
  【<%= @user.subject.name %>】<br>
  部活動<br>
  【<%= @user.club.name %>部】<br>
  <%= link_to "フォロー(#{@user.following.count})",   following_user_path(@user) %><br>
  <%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user) %><br>
</pre>