<% provide(:title, current_user?(@user)? "マイページ" : "#{@user.name}のページ") %>

<%= render 'users/user_info' %>

<div class="user-link">
  <%= link_to "所属グループ(#{@user.joining.count})",                       user_path(@user) %>
  <%= link_to "ワークシート(#{@user.worksheets.count})",                    worksheets_user_path(@user), class: "active" %>
  <%= link_to "お気に入り書籍(#{@user.favorite_books.count})",              favorite_books_user_path(@user) %>
  <%= link_to "お気に入りワークシート(#{@user.favorite_worksheets.count})", favorite_worksheets_user_path(@user) %>
</div>

<div class="user-contents">
  <%= render 'worksheets/worksheet' %>
</div>