<% if logged_in? %>
  【新規投稿を作成】
  <%= form_with(model: @post) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div><%= f.hidden_field "subject_id", :value => @group.id %></div>
    <div class="field">
      <%= f.text_area :content, style: "width: 100%;" %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>
  <% end %>
<% end %>