<%= paginate @posts %>

<ul class="posts">
  <% @posts.each do |post| %>
    <li>
      <div class="user-icon">
        <% if post.user.image.attached? %>
          <%= image_tag(post.user.image) %>
        <% else %>
        <%= image_tag("default-icon.jpeg") %>
        <% end %>
        <%= link_to post.user.name, post.user, class: "user-name" %>
        <p><%= post.content %></p>
      </div>

      <% if current_user?(post.user) %>
        <div class="buttons">
          <%= link_to "投稿の削除", post, data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" }, id: "delete_btn#{post.id}", class: "button delete_button" %>
        </div>
      <% end %>

    </li>
  <% end %>
</ul>

<%= paginate @posts %>