<% provide(:title, @publisher.name) %>

<h1 class="text-center"><%= @publisher.name %></h1>
<div class="text-right">
  <% if current_user.admin? %>
    <div>
      <%= link_to "出版社名の編集", edit_publisher_path, class: "btn btn-primary" if current_user?(@publisher.user) %>
      <%= link_to "出版社の削除", @publisher, data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
    </div>
  <% end %>
  <br>
  <div>
    <%= link_to "参考書の新規登録", new_reference_book_path(publisher_id: @publisher.id) %>
  </div>
</div>

<%= render 'reference_books/reference_book' %>