<% @shuffle_check = true if flash[:shuffle] %>

<%= form_with(url: seat_update_path) do |f| %>

    <%= f.label :col, "横の席数" %> <br>
    <%= f.select :col, (1..8).to_a, { selected: @col }, class: 'form-control' %> <br>

    <%= f.label :row, "縦の席数" %> <br>
    <%= f.select :row, (1..8).to_a, { selected: @row }, class: 'form-control' %> <br>

    <table>
      <thead>
        <tr>
          <th colspan="<%= @col %>">
            <h3>
              席替えの自動生成
            </h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @row.times do |i| %>
          <tr>
            <% @col.times do |j| %>

              <% @index = (j+1) + (i*@col) %>
              <% flash["user#{@index}_fixed"] ? @fixed_check = true : @fixed_check = false %>
              <% flash["disable#{@index}"] ? @disable_check = true : @disable_check = false %>
              
              <td>

                <% unless flash["disable#{@index}"] %>

                  <%= f.label "user_name#{@index}", "生徒名(#{@index})" %> <br>
                  <%= f.text_field "user_name#{@index}", value: @names[(@index)-1], class: 'form-control' %> <br>

                  <%= f.label("user#{@index}_fixed", "座席の固定") %>
                  <%= f.check_box "user#{@index}_fixed", {checked: @fixed_check}, true, false %> <br>

                <% end %>

                <%= f.label("disable#{@index}", "使用しない") %>
                <%= f.check_box "disable#{@index}", {checked: @disable_check}, true, false %> <br>
                  
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @names.any? { |name| name.present? } %>

      <div class="shuffle_btn">
        <%= f.label('shuffle', "座席のシャッフル") %>
        <%= f.check_box "shuffle", {checked: @shuffle_check}, true, false %> <br>
      </div>

    <% end %>

    <%= f.submit "座席の作成 / 座席のシャッフル", class: "btn btn-primary" %>

  <% end %>