<% provide(:title, "掃除当番表(自動生成)") %>
<h1 class="text-center"><%= yield(:title) %></h1>

<div class="debug">
  <%= "グループの数 = #{@group_size}" %> <br>
  <%= "生徒の数 = #{@student_size}" %> <br>
  <%= "男子の人数 = #{@boys_sizes}" %> <br>
  <%= "女子の人数 = #{@girls_sizes}" %> <br>
  <%= "グループの名前 = #{@group_names}" %> <br>
  <%= "生徒の名前 = #{@student_names}" %> <br>
  <%= "グループ情報 = #{@groups}" %> <br>
  <%= "グループ情報(グループ数) = #{@groups.size}" %> <br>
</div>

<div class="cleaning_duty">

  <%= render 'input_information' %>

</div>