<% provide(:title, "掃除当番表(自動生成)") %>

<h1 class="page-title"><%= yield(:title) %></h1>

<div class="wrapper">
  <section>
    <div class="create-groups">
      <h2>グループ(掃除担当場所)の作成</h2>
      <label>
        グループ数
        <%= select_tag "", options_for_select(1..10, 6)  %>
      </label>

      <button id="create-seat-btn">グループを作成する</button>
    </div>

    <div class="cleaning-duty">
      <table>
        <thead>
          <tr>
            <th colspan="3" class="th-main">グループ(生徒数32人)</th>
          </tr>
          <tr>
            <th class=th-1>掃除担当場所</th>
            <th class=th-2>人数(男子)</th>
            <th class=th-3>人数(女子)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class=td-1><input type="text" placeholder="掃除担当場所"></td>
            <td class=td-2>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
            <td class=td-3>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
          </tr>
          <tr>
            <td class=td-1><input type="text" placeholder="掃除担当場所"></td>
            <td class=td-2>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
            <td class=td-3>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
          </tr>
          <tr>
            <td class=td-1><input type="text" placeholder="掃除担当場所"></td>
            <td class=td-2>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
            <td class=td-3>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
          </tr>
          <tr>
            <td class=td-1><input type="text" placeholder="掃除担当場所"></td>
            <td class=td-2>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
            <td class=td-3>
              <%= select_tag "", options_for_select(1..10, 4)  %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <div class="student-list">
    <table>
      <thead>
        <tr>
          <th colspan="3" class="th-main">生徒リスト</th>
        </tr>
        <tr>
          <th class="th-1">掃除担当場所</th>
          <th class="th-2">生徒名</th>
          <th class="th-3">性別</th>
        </tr>
      </thead>
      <tbody>
        <% 16.times do %>
          <tr>
            <td class="td-1"></td>
            <td class="td-2"><input type="text" placeholder="生徒名"></td>
            <td class="td-3">男子</td>
          </tr>
        <% end %>
        <% 16.times do %>
          <tr>
            <td class="td-1"></td>
            <td class="td-2"><input type="text" placeholder="生徒名"></td>
            <td class="td-3">女子</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
