<% if flash[:col].present? && flash[:row].present? %>
  <% @col = flash[:col] %>
  <% @row = flash[:row] %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="<%= @col %>">
        <h3>席替えの自動生成</h3>
      </th>
    </tr>
  </thead>
  <%= form_with(scope: :user, url: test_path, class: 'test_form') do |f| %>
    <tbody>
      <% @row.times do |i| %>
        <tr>
          <% @col.times do |j| %>
            <td>
                <%= f.label "name#{(j+1) + (i*@col)}", "生徒名(name#{(j+1) + (i*@col)})" %> <br>
                <%= f.text_field "name#{(j+1) + (i*@col)}", value: "#{@user_name}", class: 'form-control' %> <br>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

    <%= f.submit "名前の入力", class: "btn btn-primary" %>

  <% end %>
</table>