<%= form_with(url: test_path) do |f| %>

    <%= f.label :col, "横の席数" %> <br>
    <%= f.select :col, (1..8).to_a, { selected: @col }, class: 'form-control' %> <br>

    <%= f.label :row, "縦の席数" %> <br>
    <%= f.select :row, (1..8).to_a, { selected: @row }, class: 'form-control' %> <br>

    <table>
      <thead>
        <tr>
          <th colspan="<%= @col %>">
            <h3>席替えの自動生成</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @row.times do |i| %>
          <tr>
            <% @col.times do |j| %>
              <td>
                  <%= f.label "name#{(j+1) + (i*@col)}", "生徒名(#{(j+1) + (i*@col)})" %> <br>
                  <%= f.text_field "name#{(j+1) + (i*@col)}", value: @names[((j+1) + (i*@col))-1], class: 'form-control' %> <br>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= f.submit "座席の作成", class: "btn btn-primary" %>

  <% end %>