<header>
  <div class="container">
    <%= link_to "Active Teaching", '#' %>
    <% if logged_in? %>
    <%= current_user.name %>でログイン中
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete } %></li>
      </ul>
    </nav>
    <% else %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン", login_path(original_url: request.original_url) %></li>
        <li><%= link_to "新規登録", signup_path %></li>
      </ul>
    </nav>
    <% end %>
  </div>
</header>
