<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="教員の働き方をもっとよくするためのSNSアプリケーション">
  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  link
  <%= render 'layouts/rails_default' %>
</head>

<body>
  <%= render 'layouts/header' %>

  <div class="contants wrapper">
    <aside>
      <%= render 'layouts/sidebar' %>
    </aside>
    <main>
      <%= render 'shared/messages' %>
      <%= yield %>
    </main>
  </div>
  
  <div class="text-center">
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>

</html>
